<mat-card>
    <div>
        <table mat-table [dataSource]="dataSource" style="width: 100%;" aria-label="Floor Table">
            
            <!-- Box Label Column -->
            <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef> Box Label </th>
                <td mat-cell *matCellDef="let element"> {{element.label}} </td>
            </ng-container>
            
            <!-- Description -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef aria-label="Get QR Code Label"></th>
                <td mat-cell class="actionColumn" *matCellDef="let element">
                    <button mat-raised-button color="primary">View Contents</button>
                    <button mat-raised-button color="accent" class="ml-1">Get QR Label</button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)" class="ripple"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="dataSource.dataCount" showFirstLastButtons></mat-paginator>
</mat-card>